{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/approved-supplier-redirect" method="post">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert"
        data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#approved-supplier-not-used-reason">Enter a reason why an approved supplier was not used</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Was the gift obtained from an approved supplier?
            </h1>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="approved-supplier-used" name="approved-supplier-used" type="radio"
                value="yes" {{ checked( "approved-supplier-used" , "yes" ) }}>
              <label class="govuk-label govuk-radios__label" for="approved-supplier-used">
                Yes
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="approved-supplier-used-2" name="approved-supplier-used"
                type="radio" value="no" {{ checked( "approved-supplier-used" , "no" ) }}
                data-aria-controls="conditional-reason">
              <label class="govuk-label govuk-radios__label" for="approved-supplier-used-2">
                No
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-reason">
              <div class="govuk-form-group govuk-form-group--error">
                <label class="govuk-label" for="contact-by-phone">
                  Reason why an approved supplier was not used
                </label>
                <p id="contact-by-email-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span>Enter a reason why an approved supplier was not used
                </p>
                <textarea class="govuk-textarea govuk-textarea--error" id="approved-supplier-not-used-reason"
                  name="approved-supplier-not-used-reason"
                  rows="3">{{ data['approved-supplier-not-used-reason'] }}</textarea>
              </div>
            </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>




{% endblock %}