{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Gift approval</h1>

    <p>Approval is required based on your grade and the value of the gift you are giving or receiving.</p>

    <p>For more information about the approval required, <a
        href="https://ehdg.cx.ukg.oraclecloud.com/app/answers/detail/a_id/5012" class="govuk-link"
        rel="noreferrer noopener" target="_blank">check the gift approval policy (opens in new browser tab)</a>.
    </p>

    <div class="govuk-inset-text">
      If you do not have the correct approval, your gift report may not follow Home Office policy.
    </div>

    <!-- <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        If you do not have the correct approval, your gift report may not follow Home Office policy.
      </strong>
    </div> -->

    <form class="form" action="/delegated-authority-approval-redirect" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Do you have approval from a ‘delegated authority’?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="delegated-authority-approval" name="delegated-authority-approval"
                type="radio" value="yes" {{ checked( "delegated-authority-approval" , "yes" ) }}>
              <label class="govuk-label govuk-radios__label" for="delegated-authority-approval">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="delegated-authority-approval-2" name="delegated-authority-approval"
                type="radio" value="no" {{ checked( "delegated-authority-approval" , "no" ) }}>
              <label class="govuk-label govuk-radios__label" for="delegated-authority-approval-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>



      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}