{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/delegated-authority-approval-redirect" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do you have approval from a delegated authority, as per the policy?
            </h1>
          </legend>
          <div id="delegated-authority-approval-hint" class="govuk-hint">
            <a href="https://ehdg.cx.ukg.oraclecloud.com/app/answers/detail/a_id/5012" class="govuk-link"
              rel="noreferrer noopener" target="_blank">You can find the policy on Guidance and Requests (opens in a new
              tab).</a>
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="delegated-authority-approval" name="delegated-authority-approval"
                type="radio" value="yes" {{ checked( "delegated-authority-approval" , "yes" ) }}>
              <label class="govuk-label govuk-radios__label" for="delegated-authority-approval">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="delegated-authority-approval-2" name="delegated-authority-approval"
                type="radio" value="no" {{ checked( "delegated-authority-approval" , "no" ) }}>
              <label class="govuk-label govuk-radios__label" for="delegated-authority-approval-2">
                No
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          If you do not have the appropriate approval in place prior to reporting a gift, your declaration may be
          non-compliant.
        </strong>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}