{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ "Recipient" if (data['received-or-offered'] == "received") else "Donor"}}
      details</h1>

    <form class="form" action="summary" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="department-lookup">
            Department Lookup
          </label>
        </h1>
        <div id="department-lookup-hint" class="govuk-hint">
          Search for a department by name or cost center number.
        </div>
        <input class="govuk-input govuk-input--width-20" id="department-lookup" name="department-lookup"
          value="{{ data['department-lookup'] }}" type="search" autocomplete="off">
        <button id="department-lookup-search-button" class="button-secondary" type="button">
          Search</button>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}