{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/employee-lookup-redirect" method="post">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert"
        data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#employee-lookup">Enter an employee name, number or email and click "Search"</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="govuk-form-group govuk-form-group--error lookup">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="employee-lookup">
            Home Office employee lookup
          </label>
        </h1>
        <div id="employee-lookup-hint" class="govuk-hint">
          Search for an employee using their name, employee number or email.
        </div>
        <p id="employee-lookup-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Enter an employee name, number or email and click "Search"
        </p>
        <input class="govuk-input govuk-input--width-20 govuk-input--error" id="employee-lookup" name="employee-lookup"
          type="search" autocomplete="off" value="{{ data['employee-lookup'] }}">
        <button id="employee-lookup-search-button" class="button-secondary" type="button">
          Search</button>

        <div id="employee-lookup-results" class="lookup-results js-hidden">
          <ul class="lookup-results">
            <li>
              <p>Daniel Blair</p>
              <p>daniel.blair@homeoffice.gov.uk</p>
              <p><strong>Grade</strong>SEO</p>
              <p><strong>Position</strong></p>
              <p><strong>Cost Centre Code</strong>132777</p>
              <p><strong>Department/Cost Centre</strong>BXL - 132777</p>
              <p><strong>Business Area</strong>Software</p>
            </li>
          </ul>
        </div>
      </div>

      <div id="employee-lookup-selection" class="js-hidden">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Daniel Blair
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              daniel.blair@homeoffice.gov.uk
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Grade
            </dt>
            <dd class="govuk-summary-list__value">
              SEO
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Position
            </dt>
            <dd class="govuk-summary-list__value">
              Service Cloud Specialist
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Department/Cost Centre
            </dt>
            <dd class="govuk-summary-list__value">
              BXL - 132777
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Business Area
            </dt>
            <dd class="govuk-summary-list__value">
              Software
            </dd>
          </div>
          <a id="employee-lookup-clear-selection" class="govuk-link" href="">Clear Selection</a>
        </dl>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}