{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Gift details</h1>

    <form class="form" action="/gift-more-details-redirect" method="post">

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="date-received-or-offered">
          Date {{ "received" if (data['reporting'] == "gift-received") else "offered"}}
        </label>
        <input class="govuk-input govuk-input--width-10" id="date-received-or-offered" name="date-received-or-offered"
          value="{{ data['date-received-or-offered'] }}" type="date" autocomplete="off">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="reason-for-gift">
          Reason for {{ "receiving" if (data['reporting'] == "gift-received") else "offering"}} the gift
        </label>
        <div id="reason-for-gift-hint" class="govuk-hint">
          For example, a diplomatic gesture.
        </div>
        <input class="govuk-input" id="reason-for-gift" name="reason-for-gift" value="{{ data['reason-for-gift'] }}"
          type="text" autocomplete="off">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="cost-of-gift">
          Cost, in pounds
        </label>
        <div id="cost-of-gift-hint" class="govuk-hint">
          You can check current prices with online retailers to determine cost.
        </div>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="cost-of-gift" name="cost-of-gift"
            value="{{ data['cost-of-gift'] }}" type="text" spellcheck="false" autocomplete="off">
        </div>
      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What if my gift is made up of more than one item?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>You must value gifts made up of more than one item as a whole, not as the sum of the individual items. For
            example, the total cost of a hamper is the price of the hamper, not the price of the individual items making
            up the hamper.</p>
        </div>
      </details>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}