{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Check your answers before submitting</h1>

    <div class="govuk-body">Go back to the question page to change your answer to any of the questions.</div>

    <form class="form" action="confirmation" method="post">

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reporting
          </dt>
          <dd class="govuk-summary-list__value">
            {{ "Gift received" if (data['received-or-offered'] == "received") else "Gift offered"}}
          </dd>
        </div>
        {% if (data['received-or-offered'] == "received") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Decision taken
          </dt>
          <dd class="govuk-summary-list__value">
            {{ "Accepted gift" if (data['gift-decision'] == "accept") else "Rejected gift"}}
          </dd>
        </div>
        {% endif %}

        {% if (data['individual-gift'] == "yes") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Self-Approved by
          </dt>
          <dd class="govuk-summary-list__value">
            Cahil De Menezes
          </dd>
        </div>
        {% endif %}
        {% if (data['individual-gift'] == "no") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Delegated authority approval obtained
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['delegated-authority-approval'] | capitalize }}
          </dd>
        </div>
        {% endif %}
        {% if (data['individual-gift'] == "no" and data['delegated-authority-approval'] == "no") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reasons why the gift was not approved by the delegated authority
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['reason-for-disapproval'] }}
          </dd>
        </div>
        {% endif %}
      </dl>

      {% if (data['individual-gift'] == "yes") %}
      <h2 class="govuk-heading-m">{{ "Recipient" if (data['received-or-offered'] == "received") else "Donor"}}
        details
      </h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Cahil De Menezes
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            cahil.de_menezes@homeoffice.gov.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grade
          </dt>
          <dd class="govuk-summary-list__value">
            SCS 2
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Position
          </dt>
          <dd class="govuk-summary-list__value">
            Interaction Designer
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Department/Cost Centre
          </dt>
          <dd class="govuk-summary-list__value">
            UX - 249300
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Business Area
          </dt>
          <dd class="govuk-summary-list__value">
            Customer Services
          </dd>
        </div>
      </dl>
      {% endif %}

      {% if (data['individual-gift'] == "no" and data['on-behalf-of'] == "employee") %}
      <h2 class="govuk-heading-m">{{ "Recipient" if (data['received-or-offered'] == "received") else "Donor"}}
        details
      </h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Daniel Blair
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            daniel.blair@homeoffice.gov.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grade
          </dt>
          <dd class="govuk-summary-list__value">
            SEO
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Position
          </dt>
          <dd class="govuk-summary-list__value">
            Service Cloud Specialist
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Department/Cost Centre
          </dt>
          <dd class="govuk-summary-list__value">
            BXL - 132777
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Business Area
          </dt>
          <dd class="govuk-summary-list__value">
            Software
          </dd>
        </div>
      </dl>
      {% endif %}

      {% if (data['individual-gift'] == "no" and data['on-behalf-of'] == "other") %}
      <h2 class="govuk-heading-m">{{ "Recipient" if (data['received-or-offered'] == "received") else "Donor"}}
        details
      </h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['someone-else-name'] }}
          </dd>
        </div>
      </dl>
      <h3 class="govuk-heading-s">
        Home Office representative's details
      </h3>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Max Thompson
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            max.thompson@homeoffice.gov.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grade
          </dt>
          <dd class="govuk-summary-list__value">
            EO
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Position
          </dt>
          <dd class="govuk-summary-list__value">
            Client Relations Executive
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Department/Cost Centre
          </dt>
          <dd class="govuk-summary-list__value">
            BXL - 132777
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Business Area
          </dt>
          <dd class="govuk-summary-list__value">
            Software
          </dd>
        </div>
      </dl>
      {% endif %}

      <h2 class="govuk-heading-m">{{ "Donor" if (data['received-or-offered'] == "received") else "Recipient"}}
        details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['other-party-name'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact details
          </dt>
          <dd class="govuk-summary-list__value">
            <pre>{{ data['other-party-contact-details'] }}</pre>
          </dd>
        </div>
      </dl>


      <h2 class="govuk-heading-m">Gift details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of gift {{ "received" if (data['received-or-offered'] == "received") else "donated" }}
          </dt>
          <dd class="govuk-summary-list__value">
            <ul>
              {% for giftType in data['gift-type'] %}
              <li>{{ giftType | capitalize }}</li>
              {% endfor %}
            </ul>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Description of gift
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['gift-description'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date {{ "received" if (data['received-or-offered'] == "received") else "donated" }}
          </dt>
          <dd class="govuk-summary-list__value">
            {% if(data['date-received-or-offered'] == "2022-08-16") %}
            16 August 2022
            {% endif %}
            {% if(data['date-received-or-offered'] == "2022-08-15") %}
            15 August 2022
            {% endif %}
            {% if(data['date-received-or-offered'] == "2022-08-14") %}
            14 August 2022
            {% endif %}
            {% if(data['date-received-or-offered'] == "2022-08-13") %}
            13 August 2022
            {% endif %}
            {% if(data['date-received-or-offered'] == "2022-08-12") %}
            12 August 2022
            {% endif %}
            {% if(data['date-received-or-offered'] == "2022-08-11") %}
            11 August 2022
            {% endif %}
            {% if(data['date-received-or-offered'] == "2022-08-10") %}
            10 August 2022
            {% endif %}
            {% if(data['date-received-or-offered'] == "2022-08-09") %}
            09 August 2022
            {% endif %}
            {% if(data['date-received-or-offered'] == "2022-08-08") %}
            08 August 2022
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason for {{ "receiving" if (data['received-or-offered'] == "received") else "donating" }} the gift
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['reason-for-gift'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Total cost, in pounds
          </dt>
          <dd class="govuk-summary-list__value">
            £{{ data['cost-of-gift'] }}
          </dd>
        </div>

        {% if(data['received-or-offered'] == "offered") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Obtained from approved supplier
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['approved-supplier-used'] | capitalize}}
          </dd>
        </div>
        {% if(data['approved-supplier-used'] == "no") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason why approved supplier was not used
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['approved-supplier-not-used-reason'] }}
          </dd>
        </div>
        {% endif %}
        {% endif %}
      </dl>


      {% if (data['individual-gift'] == "no" and data['delegated-authority-approval'] == "yes") %}
      <h2 class="govuk-heading-m">Approver details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Cahil De Menezes
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            cahil.de_menezes@homeoffice.gov.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grade
          </dt>
          <dd class="govuk-summary-list__value">
            SCS 2
          </dd>
        </div>
        {% endif %}
      </dl>

      <button class="govuk-button" data-module="govuk-button">Submit</button>

    </form>

  </div>
</div>

{% endblock %}