{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Check and submit your answers</h1>

    <form class="form" action="confirmation" method="post">

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Received or offered
          </dt>
          <dd class="govuk-summary-list__value">
            {% if (data['reporting'] == "gift-received") %}
            Received
            {% else %}
            Offered
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="reporting">
              Change<span class="govuk-visually-hidden"> received or offered</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Accepted or rejected
          </dt>
          <dd class="govuk-summary-list__value">
            {% if (data['reporting'] == "gift-received") %}
            {% if (data['gift-decision'] == "accept") %}
            Accepted
            {% else %}
            Rejected
            {% endif %}
            {% else %}
            {% if (data['gift-decision'] == "accept") %}
            Accepted by the recipient
            {% else %}
            Rejected by the recipient
            {% endif %}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="decision">
              Change<span class="govuk-visually-hidden"> accepted or received</span>
            </a>
          </dd>
        </div>
      </dl>

      {% if (data['reporter'] == "me") %}
      <h2 class="govuk-heading-m">
        {{ "Recipient" if (data['reporting'] == "gift-received") else "Donor"}} details
      </h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Cahil De Menezes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="select-reporter">
              Change<span class="govuk-visually-hidden"> {{ "recipient" if (data['reporting'] == "gift-received")
                else "donor"}}</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Employee number
          </dt>
          <dd class="govuk-summary-list__value">
            123450
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            cahil.de_menezes@homeoffice.gov.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grade
          </dt>
          <dd class="govuk-summary-list__value">
            Grade 7
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Position
          </dt>
          <dd class="govuk-summary-list__value">
            Interaction Designer
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Department and cost centre
          </dt>
          <dd class="govuk-summary-list__value">
            CX - 1234567
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Business area
          </dt>
          <dd class="govuk-summary-list__value">
            IT
          </dd>
        </div>
      </dl>
      {% endif %}

      {% if (data['reporter'] == "someone-else") %}
      <h2 class="govuk-heading-m">
        {{ "Recipient" if (data['reporting'] == "gift-received") else "Donor"}} details
      </h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Daniel Blair
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="employee-lookup">
              Change<span class="govuk-visually-hidden"> {{ "recipient" if (data['reporting'] == "gift-received")
                else "donor"}}</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Employee number
          </dt>
          <dd class="govuk-summary-list__value">
            123451
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            daniel.blair@homeoffice.gov.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grade
          </dt>
          <dd class="govuk-summary-list__value">
            Executive Officer (EO)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Position
          </dt>
          <dd class="govuk-summary-list__value">
            CX Specialist
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Department and cost centre
          </dt>
          <dd class="govuk-summary-list__value">
            CX - 1234567
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Business area
          </dt>
          <dd class="govuk-summary-list__value">
            IT
          </dd>
        </div>
      </dl>
      {% endif %}

      {% if (data['reporter'] == "team-unit-department") %}
      <h2 class="govuk-heading-m">
        {{ "Recipient" if (data['reporting'] == "gift-received") else "Donor"}} details
      </h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Team, unit or department
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['team-unit-or-department-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="team-unit-or-department-details">
              Change<span class="govuk-visually-hidden"> team, unit or department</span>
            </a>
          </dd>
        </div>
      </dl>
      <h3 class="govuk-heading-s">
        Representative
      </h3>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Max Thompson
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="team-unit-or-department-details">
              Change<span class="govuk-visually-hidden"> representative</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Employee number
          </dt>
          <dd class="govuk-summary-list__value">
            123452
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            max.thompson@homeoffice.gov.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grade
          </dt>
          <dd class="govuk-summary-list__value">
            Senior Executive Officer (SEO)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Position
          </dt>
          <dd class="govuk-summary-list__value">
            CX Lead
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Department and cost centre
          </dt>
          <dd class="govuk-summary-list__value">
            CX - 1234567
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Business area
          </dt>
          <dd class="govuk-summary-list__value">
            IT
          </dd>
        </div>
      </dl>
      {% endif %}

      <h2 class="govuk-heading-m">{{ "Donor" if (data['reporting'] == "gift-received") else "Recipient"}} details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['other-party-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="other-party-details">
              Change<span class="govuk-visually-hidden"> {{ "donor" if (data['reporting'] == "gift-received") else
                "recipient"}} name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact details
          </dt>
          <dd class="govuk-summary-list__value">
            <pre>{{ data['other-party-contact-details'] }}</pre>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="other-party-details">
              Change<span class="govuk-visually-hidden"> {{ "donor" if (data['reporting'] == "gift-received") else
                "recipient"}} contact details</span>
            </a>
          </dd>
        </div>
      </dl>


      <h2 class="govuk-heading-m">Gift details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type
          </dt>
          <dd class="govuk-summary-list__value">
            <ul>
              {% for giftType in data['gift-type'] %}
              <li>{{ giftType | capitalize }}</li>
              {% endfor %}
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="gift-details">
              Change<span class="govuk-visually-hidden"> type of gift</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Description
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['gift-description'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="gift-details">
              Change<span class="govuk-visually-hidden"> gift description</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date {{ "received" if (data['received-or-offered'] == "gift-received") else "offered" }}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['formatted-date-received-or-offered'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="gift-more-details">
              Change<span class="govuk-visually-hidden"> date {{ "received" if (data['received-or-offered'] ==
                "gift-received") else "offered" }}</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason for the gift
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['reason-for-gift'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="gift-more-details">
              Change<span class="govuk-visually-hidden"> reason for the gift</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Cost, in pounds
          </dt>
          <dd class="govuk-summary-list__value">
            £{{ data['cost-of-gift'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="gift-more-details">
              Change<span class="govuk-visually-hidden"> cost of the gift</span>
            </a>
          </dd>
        </div>

        {% if(data['reporting'] == "gift-offered") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Used approved supplier
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['approved-supplier-used'] | capitalize}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="approved-supplier">
              Change<span class="govuk-visually-hidden"> used approved supplier</span>
            </a>
          </dd>
        </div>

        {% if(data['approved-supplier-used'] == "no") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason approved supplier was not used
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['approved-supplier-not-used-reason'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="approved-supplier">
              Change<span class="govuk-visually-hidden"> reason approved supplier was not used</span>
            </a>
          </dd>
        </div>
        {% endif %}
        {% endif %}
      </dl>

      <h2 class="govuk-heading-m">Delegated authority approval</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Approval obtained
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['delegated-authority-approval'] | capitalize }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="delegated-authority-approval">
              Change<span class="govuk-visually-hidden"> approval obtained</span>
            </a>
          </dd>
        </div>

        {% if (data['delegated-authority-approval'] == "no") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason approval was not obtained
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['delegated-authority-disapproval-reason'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="delegated-authority-approval">
              Change<span class="govuk-visually-hidden"> reason approval was not obtained</span>
            </a>
          </dd>
        </div>
        {% endif %}
      </dl>

      {% if (data['delegated-authority-approval'] == "yes" and data['approver-lookup'] != "") %}
      <h3 class="govuk-heading-s">Approver details</h3>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Andrea Richardson
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="approver-lookup">
              Change<span class="govuk-visually-hidden"> approver</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Employee number
          </dt>
          <dd class="govuk-summary-list__value">
            123453
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            andrea.richardson@homeoffice.gov.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Grade
          </dt>
          <dd class="govuk-summary-list__value">
            SCS 2
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Position
          </dt>
          <dd class="govuk-summary-list__value">
            CX Architect
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Department and cost centre
          </dt>
          <dd class="govuk-summary-list__value">
            CX - 1234567
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Business area
          </dt>
          <dd class="govuk-summary-list__value">
            IT
          </dd>
        </div>
      </dl>
      {% endif %}

      {% if (data['delegated-authority-approval'] == "yes" and data['approver-lookup'] == "") %}
      <h3 class="govuk-heading-s">Approver details</h3>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['approver-name']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="approver-lookup">
              Change<span class="govuk-visually-hidden"> approver name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['approver-email']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="approver-lookup">
              Change<span class="govuk-visually-hidden"> approver email</span>
            </a>
          </dd>
        </div>
      </dl>
      {% endif %}

      <button class="govuk-button" data-module="govuk-button">Submit</button>

    </form>

  </div>
</div>

{% endblock %}